body {
    display: flex;
    background-color: #FFE066;
}

.button {
    font-size: 16px;
    color: #247BA0;
    border: 2px solid #247BA0;
    border-radius: 8px;
    background-color: #FFE066;
}

.button:hover {
    background-color:#247BA0 ;
    color: #FFE066;
}

.time_button {
    font-size: 16px;
    padding: 5px;
    color: #247BA0;
    border: 2px solid #247BA0;
    border-radius: 8px;
    background-color: #FFE066;
}

.time_button:hover {
    background-color:#247BA0 ;
    color: #FFE066;
}

.square {
     height: 100px;
     width: 100px;
     border-radius: 25px;
     background-color: #50514F;
     margin: 30px 30px 30px 30px;
     float : right;
 }

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    border-radius: 8px;
    color: #247BA0;
    border: 2px solid #247BA0;
    border-radius: 8px;
    background-color: #FFE066;
    font-family: "Arial", Arial, sans-serif;
}

.menu {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    width: 150px;
    margin: 30px 30px 30px 30px;
}

.square_container {
    display: flex;
    justify-content: left;
    flex-flow: wrap;
}

