body {
    display: flex;
    background-color: #92a8d1;
}

.button {
    font-size: 16px;
    color: #cdc23f;
    border: 2px solid #cdc23f;
    border-radius: 8px;
    background-color: #483D8B;
}

.button:hover {
    background-color:#cdc23f ;
    color: #483D8B;
}

.square {
     height: 100px;
     width: 100px;
     border-radius: 25px;
     background-color: #483D8B;
     margin: 30px 30px 30px 30px;
     float : right;
 }

.menu {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    flex-direction: column;
    height: 100px;
    width: 150px;
    margin: 30px 30px 30px 30px;
}

.square-highlated {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    background-color: #483D8B;
    margin: 30px 30px 30px 30px;
    float : right;
}

.square_container {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

